

{% block title %}Profile{% endblock %}
{% block content %}


    </br></br>
    <h3>Ваш профиль: </h3>
    </br>
    <h5>User name: {{user.username}}</h5>
    <h5>Last name: {{user.last_name}}</h5>
    <h5>First name: {{user.first_name}}</h5>
    <h5>E-mail: {{user.email}}</h5>
    <a style="font-size:20px">Groups: </a>
    {% if request.user.groups.all.0.name == 'common' %}| common |{% endif %}
    {% if request.user.groups.all.1.name == 'authors' %} authors |{% endif %}

    {% if is_not_authors %}
    <button> <a href="/sign/add_authors/"> Стать автором</a> </button>
    {% endif %}

    </br><span style="font-size:20px">Оформленные подписки:</span>
    {% for category in user.groups.all %}
        {% if not 'common' in category.name and not 'authors' in category.name %}
            <span> {{ category.name }} |</span>
        {% endif %}
    {% endfor %}


    </br> </br>
    <a class="btn btn-secondary" href="/sign/edit/" role="button">Изменить даные</a>
    </br></br>
    <a class="btn btn-secondary" href="/account/logout/" role="button">Выйти из аккаунта</a>


{% endblock %}